<% if object.errors.any? %>
  <div>
    エラーが発生しました。(<%= object.errors.count %>個)
  </div>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>