#sub-nav {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $gray-600;
  background-color: black;

  .nav {
    gap: 3rem;
  }

  .nav-link {
    position: relative;
    text-decoration: none;
    gap: 0.7rem;
    display: flex;
    align-items: center;
    padding: 0.3rem 0.7rem;
    border-radius: 0.375rem;
    font-size: 0.9rem;

    &:hover,
    &:active {
      background-color: $gray-600;
      color: $white;
    }
  }

  .active {
    font-weight: bold;
    &::after {
      content: "";
      position: absolute;
      width: 110%;
      height: 2px;
      bottom: -8px;
      left: -5%;
      background-color: $orange;
    }
  }
}

.dropdown-menu {
  background-color: $navy;
}
